body
{
  padding:20px;
  margin:0 auto;
  max-width:50%;
}
h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0!important;
}
.col .row {
    margin-left: -7.75rem;
    margin-right: -1.75rem;
}
input ::after::before{
  border-bottom: 1px solid #5aa4db;
}
@media only screen and (max-width: 768px) {/*mobile*/
  .quantity{
  position: absolute;
  }

}
